{% extends "base.html" %}
{% block content %}

<main role="main" class="container" style="margin-top: 50px;">
    <h1>Settings</h1>
    <h3 style="margin-top: 20px;">Here you can customzie your typing-test.</h3>

    <form action="{{ url_for('typingtest.test') }}" method="post">

        <div class="form-group">
            <label for="compselect">Timer</label>
            <select class="selectpicker form-control" name="timerSecs" id="comp_select">
                {% for o in secs %}
                <option value="{{ o }}">{{ o }} sec</option>
                {% endfor %}
            </select>
        </div>

        <div class="form-group">
            <label for="textType">Text Type</label>
            <select class="form-control" name="type" id="type">
                <option value="4">Random quotes</option>
                <option value="3">Random characters</option>
                <option value="1" disabled>Carefully selected funny quotes (not implemented yet)</option>
                <option value="2" disabled>Random words (not implemented yet)</option>
                
                
            </select>
        </div>

        <button class="btn btn-success" type="submit"><i class="fas fa-play"></i>  Start Test</button>

    </form>
</main>

{% endblock content%}