{% extends "base.html" %}
{% block content %}

<main role="main" class="container" style="margin-top: 50px;">
    <h1>Settings</h1>
    <h3 style="margin-top: 20px;">Here you can customzie your typing-test.</h3>

    <form action="{{ url_for('typingtest.test') }}" method="post">

        <div class="form-group">
            <label for="compselect">Timer</label>
            <select class="selectpicker form-control" name="timerSecs" id="comp_select">
                {% for s in secs %}
                {% if  s == 60 %}
                <option value="{{ s }}" selected="selected">{{ s }} sec</option>
                {% else %}
                <option value="{{ s }}">{{ s }} sec</option>
                {% endif %}
                
                {% endfor %}
            </select>
        </div>

        <div class="form-group">
            <label for="textType">Text Type</label>
            <select class="form-control" name="type" id="type">
                <option value="1">Hand selected funny quotes</option>
                <option value="4">Random quotes</option>
                <option value="3">Random characters</option>              
            </select>
        </div>

        <button class="btn btn-success" type="submit"><i class="fas fa-play"></i>  Start Test</button>

    </form>
</main>

{% endblock content%}