{% extends "base.html" %} {% block content %}



<main role="main" class="container" onload="setup()"
    style="background-color: #6c757d; border-radius: 15px; padding: 15px; margin-top: 20px;">
    <audio controls style="visibility: hidden; width: 0px; height: 0px;" id="countdownSound">
        <source src="../../static/audio/countdown.mp3" type="audio/mpeg">
    </audio>
    <div class="row">
        <div class="col d-flex justify-content-between" style="padding: 0px;">
            <!-- flex element left-->
            <div class="p-2" style="width: 120px;">
                <form action="/typingtest/settings" style="margin-left: 25px; margin-top: 15px;">
                    <input class="btn btn-primary" type="submit" value="Settings" />
                </form>

            </div>
            <!-- flex element middle -->
            <div class="p-2 justify-content-center" style="width: 120px;">
                <h3 style="color: #f9f9f7; text-align: center;">Timer:</h3>
                <h1 class="timer" id="timer"
                    style="color: #f9f9f7; text-align: center; margin-bottom: 20px; font-size: 80px">
                    <!-- set default timer time if not specified from settings -->
                    {% if timerStartigValue %}
                    {{ timerStartigValue  }}
                    {% else %}
                    60
                    {% endif %}
                </h1>

            </div>
            <!-- flex element right -->
            <div class="p-2" style="width: 120px;">
            </div>
        </div>
    </div>




    <div class="container">
        <div class="row">
            <div class="col"
                style="margin-bottom: 30px; height: 300px; margin-left: 45px; margin-right: 45px; background-color: #F9F9F7; padding: 15px; border-radius: 15px;">
                <h3 class="quote-display" id="quoteDisplay">
                </h3>
                <p class="author-display" style="text-align: right; margin-right: 50px;" id="authorDisplay"></p>
            </div>
        </div>
        <div class="row" style="padding-left: 45px; padding-right: 45px;">
            <textarea class="quote-input form-control" id="quoteInput" rows="1"></textarea>
        </div>
        <div class="row">
            <div class="col d-flex justify-content-center">
                <Button id="btnStart" class="btn btn-success btn-lg" onclick="btnStart_Click()"
                    style="margin-bottom: 20px; margin-top: 20px;">Start Test</Button>
            </div>
        </div>
        <div class="row">
            <div class="col d-flex justify-content-center">
                <Button id="btnPause" class="btn btn-primary btn-lg" onclick="btnPause_Click()"
                    style="margin-bottom: 20px; margin-top: 20px; margin-right: 30px;" hidden>Pause</Button>
                <Button id="btnReset" class="btn btn-warning btn-lg" onclick="btnReset_Click()"
                    style="margin-bottom: 20px; margin-top: 20px;" hidden>Restart</Button>
            </div>
        </div>
    </div>

    <!-- Button trigger modal -->
    <button id="showModal" type="button" class="btn btn-primary" data-toggle="modal" data-target="#modalDialog">
        Launch modal
    </button>

    <!-- Modal that shows when test is finished -->
    <div class="modal fade bd-example-modal-lg" tabindex="-1" role="dialog" id="modalDialog">
        <div class="modal-dialog modal-lg" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h1 class="modal-title">Here is your test result:</h1>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body" id="modalBody" style="background: F8F8F8;">
                    <div class="row justify-content-center" >
                        <div style="background: rgb(221, 221, 221); border-radius: 10px; padding: 20px;">
                            <p style="font-size: 20px;">
                                You typed
                                <span style="font-size: 25px;">
                                    <strong>
                                        {% if correctCharacters %}{{ correctCharacters  }}{% else %}???{% endif %}
                                        correct characters
                                    </strong>
                                </span>
                                in
                                <span style="font-size: 25px;">
                                    <strong>{% if testDuration %}{{ testDuration  }}{% else %}???{% endif %} Seconds.
                                    </strong>
                                </span>
                            </p>
                            <p style="font-size: 20px;">
                                This results a typing speed of
                                <span style="font-size: 25px; color: orange;">
                                    <strong>
                                        {% if speed %}{{ speed  }}{% else %}???{% endif %} characters per minute!
                                    </strong>
                                </span>
                            </p>
                            <p style="font-size: 20px;">
                                You have made
                                <span style="font-size: 25px;">
                                    <strong>
                                        {% if backspaceCount %}{{ backspaceCount  }}{% else %}???{% endif %} typing
                                        mistakes
                                    </strong>
                                </span>
                                and had an
                                <span style="font-size: 25px;">
                                    <strong>
                                        accuracy of {% if accuracy %}{{ accuracy }}{% else %}???{% endif %} %.
                                    </strong>
                                </span>
                            </p>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary">Continue</button>
                    <button type="button" class="btn btn-primary" data-dismiss="modal">Show Testhistory</button>
                </div>
            </div>
        </div>
    </div>

    <div class="row d-flex justify-content-left" style="padding-left: 20px;">
        <h1>Leaderboard</h1>
    </div>


    <table class="table table-dark">
        <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">User</th>
                <th scope="col">Speed</th>
                <th scope="col">Test Duration</th>
                <th scope="col">Mistakes</th>
                <th scope="col">Correct Characters</th>
                <th scope="col">Accuracy</th>
                <th scope="col">Date</th>
            </tr>
        </thead>
        <tbody>
            {% if typingtests %}
            {% for test in typingtests %}
            <tr>
                <th scope="row">{{ loop.index }}</th>
                <td>
                    {% if test.username is not none %}
                    {{ test.username }}
                    {% else %}
                    unknown
                    {% endif %}
                </td>
                <td>{{ test.speed }} characters/min</td>
                <td>{{ test.duration }} sec</td>
                <td>{{ test.mistakes }} </td>
                <td>{{ test.characters }}</td>
                <td>{{ test.accuracy }} %</td>
                <td>{{ test.testdate }}</td>
            </tr>
            {% endfor %}
            {% endif %}
        </tbody>
    </table>
</main>



<!-- hidden input to post data to testresult data on hidden submit -->
<form action="{{ url_for('typingtest.test') }}" id="testResult" method="post">
    <input type="text" name="speed" id="speed" value="unknown" hidden>
    <input type="text" name="correctCharacters" id="correctCharacters" value="unknown" hidden>
    <input type="text" name="backspaceCount" id="backspaceCount" value="unknown" hidden>
    <input type="text" name="testDuration" id="testDuration" value="unknown" hidden>
    <input type="text" name="accuracy" id="accuracy" value="unknown" hidden>
</form>

<!-- JavaScript for typing test -->
<script type="text/javascript" src="../../static/scripts/typing-test-script.js"></script>
<script>
    //check if test was finished and speed exest as jinja varibale
    {% if speed %}
    //show modal with testresults
    document.getElementById('showModal').click();
    {% endif %}

</script>

{% endblock content%}