{% extends "base.html" %} {% block content %}

<script type="text/javascript" src="../../static/scripts/typingtest-test-before.js"></script>

<main role="main" class="container" onload="setup()"
    style="background-color: #6c757d; border-radius: 15px; padding: 15px; margin-top: 20px;">
    <audio controls style="visibility: hidden; width: 0px; height: 0px;" id="countdownSound">
        <source src="../../static/audio/countdown.mp3" type="audio/mpeg">
    </audio>
    <div class="row">
        <div class="col d-flex justify-content-between" style="padding: 0px;">
            <!-- flex element left-->
            <div class="p-2" style="width: 120px;">
                <form action="/typingtest/settings" style="margin-left: 25px; margin-top: 15px;">
                    <button class="btn btn-primary" style="width: 105px;" type="submit"><i class="fas fa-cog"></i>
                        Settings</button>
                </form>

            </div>
            <!-- flex element middle -->
            <div class="p-2 justify-content-center" style="width: 120px;">
                <h3 style="color: #f9f9f7; text-align: center;">Timer:</h3>
                <h1 class="timer" id="timer"
                    style="color: #f9f9f7; text-align: center; margin-bottom: 20px; font-size: 80px">
                    <!-- set default timer time if not specified from settings -->
                    {% if timerStartigValue %}
                    {{ timerStartigValue  }}
                    {% else %}
                    60
                    {% endif %}
                </h1>

            </div>
            <!-- flex element right -->
            <div class="p-2">
                <button class="btn btn-primary" style="margin-right: 25px; margin-top: 15px;"
                    onclick="renderNewText()"><i class="fas fa-redo"></i> New
                    {% if type == '4' %}
                    Quote
                    {% else %}
                    Text
                    {% endif %}</button>
            </div>
        </div>
    </div>




    <div class="container">
        <div class="row" style="height: 300px; margin-bottom: 30px; position: relative; ">
            <div style=" height: 100%; margin-left: 45px; width: 100%; margin-right: 45px; background-color: #F9F9F7; padding: 15px;
            border-radius: 15px;">
                <div class="d-flex justify-content-end">
                    <a style="margin-right: 0px;" href="#" onclick="renderNewText()"><i
                            class="fas fa-sync-alt fa-lg"></i></a>
                </div>
                <h3 class="quote-display" id="quoteDisplay"></h3>
                <p class="author-display" style="text-align: right; margin-right: 50px;" id="authorDisplay"></p>

            </div>

        </div>
        <div class="row" style="padding-left: 45px; padding-right: 45px;">
            <textarea class="quote-input form-control" id="quoteInput" rows="1"></textarea>
        </div>
        <div class="row">
            <div class="col d-flex justify-content-center">
                <Button id="btnStart" class="btn btn-success btn-lg" onclick="btnStart_Click()"
                    style="margin-bottom: 20px; margin-top: 20px;"><i class="fas fa-play"></i> Start Test</Button>
            </div>
        </div>
        <div class="row">
            <div class="col d-flex justify-content-center">
                <Button id="btnPause" class="btn btn-primary btn-lg" onclick="btnPause_Click()"
                    style="margin-bottom: 20px; margin-top: 20px; margin-right: 30px;" hidden><i
                        class="fas fa-pause"></i>
                    Pause</Button>
                <Button id="btnContinue" class="btn btn-primary btn-lg" onclick="btnContinue_Click()"
                    style="margin-bottom: 20px; margin-top: 20px; margin-right: 30px;" hidden><i
                        class="fas fa-play"></i>
                    Continue</Button>
                <Button id="btnReset" class="btn btn-warning btn-lg" onclick="btnReset_Click()"
                    style="margin-bottom: 20px; margin-top: 20px;" hidden><i class="fas fa-redo"></i> Reset</Button>
            </div>
        </div>
    </div>

    <!-- Button trigger modal -->
    <button id="showModal" type="button" class="btn btn-primary" data-toggle="modal" data-target="#modalDialog" hidden>
        Launch modal
    </button>

    <!-- Modal that shows when test is finished -->
    <div class="modal fade bd-example-modal-lg" tabindex="-1" role="dialog" id="modalDialog">

        <div class="modal-dialog modal-lg" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h1 class="modal-title">Here is your test result:</h1>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close" onclick="closeModal()">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body" id="modalBody" style="background: F8F8F8;">
                    <div class="row justify-content-center">
                        <div style="background: rgb(221, 221, 221); border-radius: 10px; padding: 20px;">
                            <p style="font-size: 20px;">
                                You typed
                                <span style="font-size: 25px;">
                                    <strong>
                                        {% if correctCharacters %}{{ correctCharacters  }}{% else %}0{% endif %}
                                        correct characters
                                    </strong>
                                </span>
                                in
                                <span style="font-size: 25px;">
                                    <strong>{% if testDuration %}{{ testDuration  }}{% else %}0{% endif %} Seconds.
                                    </strong>
                                </span>
                            </p>
                            <p style="font-size: 20px;">
                                This results a
                                <span style="font-size: 25px; color: orange;">
                                    <strong>
                                        typing speed of {% if speed %}{{ speed  }}{% else %}0{% endif %} characters per
                                        minute!
                                    </strong>
                                </span>
                            </p>
                            <p style="font-size: 20px;">
                                You have made
                                <span style="font-size: 25px;">
                                    <strong>
                                        {% if mistakes %}{{ mistakes  }}{% else %}0{% endif %} typing
                                        mistakes
                                    </strong>
                                </span>
                                and had an
                                <span style="font-size: 25px;">
                                    <strong>
                                        accuracy of {% if accuracy %}{{ accuracy }}{% else %}0{% endif %} %.
                                    </strong>
                                </span>
                            </p>
                        </div>
                    </div>
                </div>
                <div class="modal-footer justify-content-center">
                    <button type="button" class="btn btn-success" data-dismiss="modal">Okay</button>
                    {% if g.user %}
                    <form action="{{ url_for('auth.profile') }}">
                        <button class="btn btn-primary" type="submit"> Show
                            Test-History</button>
                    </form>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>

    <div class="row d-flex justify-content-between bg-dark" style="padding-left: 20px; margin-top: 30px;
        margin-left: 0px; margin-right: 0px; margin-bottom: 10px;">
        <div class="p-2">
            <h1 style="font-size: 60px; color: orange;">Leaderboard</h1>
        </div>
        <div class="p-2"></div>
        <div class="p-2">
            <h1 style="font-size: 60px; color: orange; margin-right: 20px;">Top 10</h1>
        </div>

    </div>


    <table class="table table-dark">
        <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">User</th>
                <th scope="col">Speed</th>
                <th scope="col">Test Duration</th>
                <th scope="col">Mistakes</th>
                <th scope="col">Correct Characters</th>
                <th scope="col">Accuracy</th>
                <th scope="col">Date</th>
            </tr>
        </thead>
        <tbody>
            {% if typingtests %}
            {% for test in typingtests %}
            {% if loop.index < 11 %}
            <tr>
                <th scope="row">{{ loop.index }}</th>
                <td>
                    {% if test.username is not none %}
                    {{ test.username }}
                    {% else %}
                    unknown
                    {% endif %}
                </td>
                <td>{{ test.speed }} characters/min</td>
                <td>{{ test.duration }} sec</td>
                <td>{{ test.mistakes }} </td>
                <td>{{ test.characters }}</td>
                <td>{{ test.accuracy }} %</td>
                <td>{{ test.testdate }}</td>
            </tr>
            {% endif %}

            {% endfor %}
            {% endif %}
        </tbody>
    </table>
    <div class="row d-flex justify-content-left" style="padding-left: 20px; margin-top: 10px;
    margin-left: 0px; margin-right: 0px; margin-bottom: 10px;">
        <div>
            <p style="color: white; margin-bottom: 0px;">*The leaderboard only takes the fastest typing speed of each
                user into account to avoid user repetition</p>
            <p style="color: white">*Unknown users are not listed</p>
        </div>
    </div>

</main>



<!-- hidden input to post testresult data on hidden submit -->
<form action="{{ url_for('typingtest.test') }}" id="testResult" method="post">
    <input type="text" name="speed" id="speed" value="unknown" hidden>
    <input type="text" name="correctCharacters" id="correctCharacters" value="unknown" hidden>
    <input type="text" name="mistakes" id="mistakes" value="unknown" hidden>
    <input type="text" name="testDuration" id="testDuration" value="unknown" hidden>
    <input type="text" name="accuracy" id="accuracy" value="unknown" hidden>
</form>

<!-- hidden paragraph for testtype:
    Type:
    value="1"       > selected funny quotes (deafault)
    value="2"       > Random words
    value="3"       > Random characters 
    value="4"       > Random quotes   -->

<p id="testType" hidden>{% if type %}{{ type }}{% else %}1{% endif %}</p>


<!-- JavaScript for typing test -->
<script type="text/javascript" src="../../static/scripts/typingtest-test-after.js"></script>

<script type="text/javascript">

    //check if test was finished and test variables exist when page is loaded
    document.addEventListener('DOMContentLoaded', function () {
        {% if speed or accuracy or mistakes or correctCharacters %}
        //show modal with testresults

        document.getElementById('showModal').click();

        {% endif %}

    }, false);

</script>



{% endblock content%}