{% extends "base.html" %}
{% block content %}
<main role="main" class="container" style="margin-top: 30px;">


    <div class="jumbotron">

        <div class="row d-flex justify-content-center">
            <h1 style="margin-bottom: 50px;">About <span style="color: #FFC000;">Keyborad Burner</span>...</h1>
        </div>

        <div class="row">


            <div style="margin: 10px; margin-top: 0px; text-align: center;">
                <hr class="my-4" style="margin-bottom: 0px;">
                <h3 style="margin-bottom: 30px;">Keyborad Burner is a website project that was developed as part
                    of a coursework for the module Advanced Web Technology at the
                    <a href="https://www.napier.ac.uk/" target="_blank">Edinburgh Napier University</a>.
                </h3>

                <h3>According to the coursework specifications this website was developed with the micro web framework
                    <a href="https://flask.palletsprojects.com/en/1.1.x/#" target="_blank">flask</a> and is hosted
                    by a virtual machine of the university.
                </h3>
                <hr class="my-4" style="margin-bottom: 60px;">
                <h1 style="margin-top: 40px; margin-bottom: 50px;">What is touch typing?</h1>
                <div class="row d-flex justify-content-center">
                    <img src="../static/images/keyboard.png" alt="keyboard" style="width: 80%;">
                </div>
                <p style="margin-bottom: 30px;">Source: <a href="https://www.ratatype.com/learn/"
                        target="_blank">https://www.ratatype.com/learn/</a></p>


                <h3 style="margin-bottom: 30px;">At this point information about touchtyping and the advantages of the
                    touchtyping system would be displayed.</h3>
                <h3 style="margin-bottom: 30px;">But because it is not the purpose of this website to simply present
                    information about touch typing, it is only linked here:</h3>
                <h3>
                    <a class="btn btn-primary btn-lg" href="https://www.ratatype.com/learn/" target="_blank">Learn how to touch type</a>
                </h3>

            </div>

        </div>
    </div>
</main>
{% endblock content%}