{% extends "base.html" %}
{% block content %}
<main role="main" class="container" style="margin-top: 30px;">


    <div class="jumbotron">

        <div class="row d-flex justify-content-center">
            <h1 style="margin-bottom: 50px;">About <span style="color: #FFC000;">Keyborad Burner</span>...</h1>
        </div>

        <div class="row">


            <div style="margin: 10px; margin-top: 0px; text-align: center;">
                <hr class="my-4" style="margin-bottom: 0px;">
                <h3 style="margin-bottom: 30px;"><strong>Keyboard Burner</strong> is a website project that helps you improve your typing speed
                    by typing funny and famous quotes.
                </h3>
                <h3 style="margin-bottom: 30px;">
                    The website was developed as part
                    of a coursework for the module Advanced Web Technology at the
                    <a href="https://www.napier.ac.uk/" target="_blank">Edinburgh Napier University</a>.
                </h3>


                <h3 style="margin-bottom: 30px;">According to the coursework specifications this website was developed
                    under the topic "Online
                    Education Technologies" and with the use of the micro web framework
                    <a href="https://flask.palletsprojects.com/en/1.1.x/#" target="_blank">flask</a>.
                </h3>

<!--                 
                <hr class="my-4" style="margin-bottom: 0px;">
                <h1 style="margin-top: 30px; margin-bottom: 30px;">Features</h1>
                <h3 style="margin-bottom: 30px;">Keyboard Burner offers a lot of cool features to
                    hopefully provide you with a good and entertaining user experience.
                </h3>
                <h3 style="margin-bottom: 30px;">
                    <i class="fas fa-check" style="color: green;"></i> funny and famoues quotes instead of boring random text
                </h3>
                <h3 style="margin-bottom: 30px;">
                    immediate visual feedback for typing errors
                </h3>
                <h3 style="margin-bottom: 30px;">
                    measurement of typing speed and accuracy
                </h3>
                <h3 style="margin-bottom: 30px;">
                    individual display of user progress
                </h3>



                <hr class="my-4" style="margin-bottom: 60px;">
                <h1 style="margin-top: 40px; margin-bottom: 50px;">What is touch typing?</h1>
                <h3 style="margin-bottom: 30px;">Touch typing is a technique that helps you type faster and more
                    efficient by using all your fingers.</h3>
                <div class="row d-flex justify-content-center">
                    <img src="../static/images/keyboard.png" alt="keyboard" style="width: 80%;">
                </div>
                <p style="margin-bottom: 30px;">Source: <a href="https://www.ratatype.com/learn/"
                        target="_blank">https://www.ratatype.com/learn/</a></p>



                <h3 style="margin-bottom: 30px;"></h3>
                <h3>
                    <a class="btn btn-primary btn-lg" href="https://www.ratatype.com/learn/" target="_blank">Learn how
                        to touch type</a>
                </h3> -->

            </div>

        </div>
    </div>
</main>
{% endblock content%}